<h2><%= @satz %></h2>

<form action="/contact" method="post">
    <div>
      <label for="name">
        Name:
        <input id="name" type="text" name="name" />
      </label>
    </div>
    <div>
      <label for="email">
        E-Mail:
        <input id="email" type="email" name="email" />
      </label>
    </div>
    <div>
      <label for="message">
        Nachricht:<br/>
        <textarea id="message" name="message" cols=50 rows=5></textarea>
      </label>
    </div>
    <div>
      <input type="submit" value="Absenden" />
    </div>
  </form>

