 <h1>Kontaktanfrage</h1>
<p>			
    Name: <%= @contactpost.name %> <br />
    E-Mail: <%= @contactpost.email %> <br />
    Nachricht: <%= @contactpost.message %>
</p>

<br/>
<a href="/admin/contact-requests.html">Zurück zu den Kontaktanfragen</a>
